@media only screen and (max-width:1200px){
}

@media only screen and (max-width:1024px){
.smarter_section_header_box h2{
    width: 70%;
}
.market_sales_header_box{
    width: 80%;
}
.it_consulting_header_box {
    width: 85%;
}
.banner_left_box h2 {
    font: 34px/45px 'CircularStd-Black',sans-serif;
}
.banner_left_box p {
    font: 24px/30px 'AvenirNext-Medium',sans-serif;
    padding-bottom: 20px;
}
.stories_left_box p {
    font: 24px/35px 'AvenirNext-Medium',sans-serif;
}
.stories_left_box {
    min-height: auto;
}
.trns_business_consulting_box p span {
    display: inline;
}
.propel_business_header_box {
    width: 65%;
}
.industries_solution_list_box {
     padding: 6px 2px 2px 20px; 
}
.consulted_btn {
    height: 55px;
}
.industries_solution_resposive_box4,.industries_solution_resposive_box8,.industries_solution_resposive_box16,.industries_solution_resposive_box20{
    border-right: 1px solid transparent;
}
.industries_solution_resposive_box6,.industries_solution_resposive_box18{
    border-right: 1px solid #bbb;
}
.industries_solution_resposive_box17,.industries_solution_resposive_box18{
    border-bottom: 1px solid transparent;
}
.our_offices_around_world_list_box {
    width: 90%;
    margin-right: 0px !important;
    min-height: 300px;
}
.right_border:after{
    top: 0px;
    height: 100%;
}
.our_opportunity_image{
    top:120px;
}
.our_opportunity_main_box{
    margin-bottom: 0px;
}
.our_offices_around_world_header_box {
    margin-bottom: 40px;
}
.our_opportunity_main_box p{
    width:90%;
}
.our_offices_around_world_section1{
    margin: 50px 0px 0px;
}
.storiesposter_img {
    left: 0px !important;
    width: 100% !important;
}
#stories_section .owl-nav {
    left: 0%;
    width: 60%;
}
}
@media only screen and (min-width:992px){
.container_body {
    width: 95%;
}
.navigation {
    display: block !important;
}
.industries_solution_list_box{
    /*padding: 6px 2px 2px 5px;*/
}
#rinvt_acc_dtj_tab li a {
    padding: 10px 8px;
}
.footer_mail_box{
    padding-left: 5px;
}
}
@media only screen and (max-width:991px){
.smarter_service_list_box{
    margin-bottom: 20px;
}
.industries_solution_resposive_box3,.industries_solution_resposive_box9,.industries_solution_resposive_box15{
    border-right: 1px solid transparent;
}
#rinvt_acc_dtj_tab{
    display: inline-flex;
    width: 100%;
    position: relative;
    overflow-x: scroll;
}
#rinvt_acc_dtj_tab li{
    margin-bottom: 20px;
}
.degitize_box{
    padding-left: 20px;
}
.cus_insight_header_box{
    width: 100%;
}
.about_speed_learning_app_box{
    display: inline-block;
}
.about_speed_learning_app_desc_box {
    width: 100%;
}
.speedlearning_logo{
    margin-bottom: 20px;
}
.market_sales_header_box,.it_consulting_header_box{
    margin-bottom: 20px;
}
.cus_insight_leftbox,.market_sales_leftbox,.it_consulting_leftbox{
    min-height: auto;
}
#rinvt_acc_dtj_tab li p {
    font: 16px/25px 'AvenirNext-SemiBold',sans-serif;
    padding-top: 10px;
}
.craftedapp_list_header_box{
    padding: 30px 0px 0px;
}
.craftedapp_list_box{
    height: auto;
}
.craftedapp_list_box{
    margin-bottom: 40px;
}
.banner_right_box{
    min-height: 500px;
    width: 100%;
}
.storiesposter_img{
    height:100% !important;
}
.banner_left_box {
    width: 100%;
    margin-top:40px;
    min-height: auto;
}
.banner_right_subbox {
    width: 100%;
    height: 100% !important;
}
.our_opportunity_main_box {
    width: 100%;
}
.our_opportunity_image {
    top: 0px;
    position: relative;
    width: 100%;
    margin: 30px auto;
}
.our_opportunity_main_box p {
    width: 100%;
}
.our_offices_around_world_header_box p{
    padding-bottom:0px;
}
.our_offices_around_world_list_box {
    min-height: 270px;
}
.stories_left_box {
    min-height: auto;
    margin-bottom: 30px;
}
#stories_section .owl-nav {
    position: relative;
    left: 0%;
    bottom: 0px;
    width: 50%;
    margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    float:none;
}
#stories_section .owl-dots {
    position: relative;
    left: 0%;
    bottom: 0px;
    width: 50%;
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    float:none;
}
.trns_business_consulting_box {
    padding: 50px 20px;
}
.trns_business_consulting_section {
    padding: 50px 0px 30px;
}
}

@media only screen and (max-width:768px){
    .banner_left_box h2 {
        font: 30px/40px 'CircularStd-Black',sans-serif;
        padding-bottom: 5px;
    }
    .banner_left_box p{
        padding-bottom: 20px;
    }
    .market_sales_header_box,.it_consulting_header_box {
        width: 100%;
    }
    .trns_business_consulting_box h2{
        line-height: 45px;
    }
    .trns_business_consulting_box{
        padding: 50px 10px;
    }
    .our_offices_around_world_header_box p {
        width: 70%;
        margin: 0px auto;
    }
    .our_offices_around_world_header_box p {
        width: 90%;
    }
    .our_offices_around_world_header_box p span {
        display: contents;
    }
    .our_offices_around_world_list_box {
        min-height: 265px;
    }
    .trns_business_consulting_box {
        padding: 50px 10px;
    }
    .our_opportunity_section {
        padding: 30px 0px;
    }
}
@media only screen and (max-width:736px){
    .tab_result_inner_box{
        width: 95%;
        margin: 0px auto;
        padding: 0px 0px 30px;
    }
    .degitize_side_border:after{
        border-right: 0px solid transparent;
    }
    .degitize_box {
        width: 95%;
        margin: 0px auto;
        padding-bottom: 30px;
    }
    .cus_insight_leftbox, .market_sales_leftbox, .it_consulting_leftbox{
        width: 95%;
        margin:0px auto;
    }
    .about_speed_learning_app_box{
        display: block;
        width: 95%;
        margin:0px auto;
    }
    .banner_left_box {
        width: 98%;
        margin: 40px auto 0px;
         transform: none;
    }
    .banner_right_img {
        width: 100%;
    }
    .right_border:after {
        top: 0px;
        height: 85%;
    }
    .our_offices_around_world_list_box {
        width: 95%;
        margin: 0px auto;
    }
    .window_view{
        display:none;
    }
    .mobile_view{
        width:100%;
        margin:60px auto 40px;
        display:block;
    }
    .banner_right_box {
        min-height: 410px;
        width: 100%;
        margin: 20px auto;
    }
    .trns_business_consulting_box h2 {
        line-height: 50px;
        padding-bottom: 10px;
    }
    .banner_left_box h2 {
        padding-bottom: 10px;
    }
}
@media only screen and (max-width:684px){
    #rinvt_acc_dtj_tab {
        /*display: -webkit-inline-box;*/
        margin-top: 10px;
    }
    .right_arrow_box{
        display:block;
    }
    .propel_business_header_box {
        width: 100%;
    }
    .tab_result_inner_rightbox{
        padding-bottom:0px !important;
    }
    .tab_result_inner_box p {
        font: 22px/30px 'AvenirNext-Medium',sans-serif;
    }
    .tab_result_inner_box {
        width: 100%;
        margin: 0px auto;
        padding: 0px 0px 30px 10px;
    }
    #rinvt_acc_dtj_tab li a {
        padding: 0px 10px;
    }
    .degitize_section_header_box h2{
        padding-bottom: 50px;
    }
    .banner_right_box {
        min-height: 400px;
    }
    #video-popup-container {
        width: 98% !important;
        left: 1% !important;
        margin-left: 0% !important;
    }
}
@media only screen and (max-width: 667px) {
.propel_track_list_mainbox{
    display: inline-block;
}
.propel_track_list_mainbox:after {
    content: '';
    width: 50%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    position: absolute;
    top: 40px;
    left: 50%;
    border-left: 2px dashed #686868;
    border-bottom: 0px dashed transparent;
}
.right_arrow:after {
    content: '';
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 110px;
    left: 49.6%;
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    border-style: solid;
    border-color: #000;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-bottom: 5px;
}
.propel_track_list_box p{
    background-color: #ffff;
    z-index: 12;
    padding: 0px;
    position: relative;
    top: 5px;
}
.propel_track_list_box{
    padding: 0px 0px;
    padding-bottom: 40px;
}
}
@media only screen and (max-width: 550px) {
    .mobile_responsive_view{
        width: 50%;
    }
    .industries_solution_resposive_box2,.industries_solution_resposive_box4,.industries_solution_resposive_box8,
    .industries_solution_resposive_box10,.industries_solution_resposive_box14,.industries_solution_resposive_box16,.industries_solution_resposive_box20{
        border-right: 1px solid transparent;
    }
    .industries_solution_resposive_box3, .industries_solution_resposive_box9, .industries_solution_resposive_box15 {
        border-right: 1px solid #bbb;
    }
    .industries_solution_list_box{
        display: flex;
        text-align: center;
        padding: 20px 0px;
        height: 145px;
        vertical-align: middle;
        align-items: center;
        justify-content: flex-start;
    }
    #rinvt_acc_dtj_tab li a {
        padding: 10px 5px;
        width: 180px;
    }
    .rinvt_acc_dtj_tab_box{
        position: relative;
        overflow: hidden;
        width: 520px;
    }
    .degitize_section_header_box h2{
        padding-bottom: 50px;
    }
    .right_arrow:after{
        top: 115px;
    }
    .banner_left_box, .banner_right_box {
        width: 100%;
        min-height: auto;
    }
    .list_box1,.list_box2,.list_box3,.list_box4,.list_box5,.list_box6,.list_box7,.list_box8,
    .list_box9,.list_box10,.list_box11,.list_box12,.list_box13,.list_box14,.list_box15,.list_box16,.list_box17{
        width: 100%;
        /*border-bottom: 2px solid #f2f2f2;*/
        padding: 20px 10px;
    }
    .list_box10,.list_box17{
        border-bottom:none;
    }
    .note_mainbox {
        width: 100%;
    }
    .note_box p {
        font: 12px/20px 'AvenirNext-Medium',sans-serif;
        padding-left: 5px;
        width: 97%;
    }
    .our_offices_around_world_list_box{
        width: 100%;
        min-height: auto;
    }
    .trns_business_consulting_box {
        padding: 50px 20px;
    }
    .video_tag{
        height:100%;
    }
    .our_offices_around_world_section {
        margin: 30px 0px;
    }
    .trns_business_consulting_box {
        padding: 50px 20px;
    }
    #stories_section .owl-nav {
        width: 60%;
    }
}
@media only screen and (max-width: 500px) {
    .rinvt_acc_dtj_tab_box{
        width: 470px;
    }
    .trns_business_consulting_box{
        padding: 30px 20px;
    }
    .trns_business_consulting_box h2 {
        line-height: 40px;
    }
    .banner_right_img {
        width: 100%;
    }
    .craftedapp_list_header_box {
        padding: 20px 0px 0px;
    }
    .banner_left_box {
        margin: 20px auto 0px;
    }
    .banner_right_box{
        display:flex;
    }
    .macapp_img_slider_box {
        height: 350px;
    }
    .our_opportunity_main_box h3 {
        font: 28px/35px 'AvenirNext-SemiBold',sans-serif;
    }
    .our_opportunity_main_box p {
        font: 18px/26px 'AvenirNext-Medium',sans-serif;
    }
    .our_offices_around_world_header_box p {
        width: 95%;
    }
    .our_offices_around_world_section {
        margin: 30px 0px;
    }
    .stories_section {
        padding: 30px 0px;
    }
    .stories_left_box h2 {
        font: 46px/50px 'CircularStd-Black',sans-serif;
    }
    .stories_left_box p {
        font: 22px/35px 'AvenirNext-Medium',sans-serif;
        margin: 0px;
        padding-bottom: 5px;
    }
    .mobile_view {
        margin: 60px auto 40px;
    }
    .trns_business_consulting_box {
        padding: 30px 15px;
    }
}
@media only screen and (max-width: 420px) {
    .degitize_box {
        padding-left: 0px;
    }
    .propel_track_list_mainbox{
        padding: 30px 0px 0px;
    }
    .banner_left_box, .banner_right_box {
        width: 100%;
    }
    .banner_left_box p {
        font: 20px/30px 'AvenirNext-Medium',sans-serif;
    }
    .consulted_btn {
        width: 100%;
        margin:40px auto 0px;
    }
    .our_offices_around_world_header_box {
        margin-bottom: 10px;
    }
    .trns_business_consulting_box {
        padding: 30px 20px;
    }
    .trns_business_consulting_box h2 {
        font: 30px/35px 'CircularStd-Black',sans-serif;
    }
    .our_offices_around_world_header_box p {
        width: 100%;
    }
    .trns_business_consulting_box {
        margin: 0px 0px 0px;
    }
    #stories_section .owl-nav{
        width:90%;
    }
    .trns_business_consulting_box p {
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 414px) {
    .our_offices_around_world_header_box {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 375px) {
    .rinvt_acc_dtj_tab_box {
        width: 350px;
    }
    .smarter_service_list_box p{
        font: 16px/28px 'AvenirNext-Medium',sans-serif;
    }
    .industries_solution_list_box{
        padding: 20px 3px;
    }
    .about_speed_learning_app_desc_box h2 {
        font: 28px/40px 'AvenirNext-Medium',sans-serif;
    }
    .macapp_img_slider_box {
        height: 260px;
    }
    .our_offices_around_world_header_box h2 {
        font: 30px/35px 'CircularStd-Black',sans-serif;
    }
    .our_offices_around_world_header_box {
        margin-bottom: 20px;
    }
    .list_box1, .list_box2, .list_box3, .list_box4, .list_box5, .list_box6, .list_box7, .list_box8,
    .list_box9, .list_box10, .list_box11, .list_box12, .list_box13, .list_box14, .list_box15, .list_box16, .list_box17 {
        padding: 20px 5px;
    }
    .our_offices_around_world_list_box img {
        margin-bottom: 5px;
    }
    #stories_section .owl-nav{
        width:90%;
    }
    .trns_business_consulting_box p {
        padding-bottom: 10px;
    }
    .consulted_btn {
        margin: 20px auto;
    }
}


