@media only screen and (max-width:1200px){
    .craftedapp_section {
        margin: 50px 0px 0px;
    }
}

@media only screen and (max-width:1024px){
.smarter_section_header_box h2{
    width: 70%;
}
.market_sales_header_box{
    width: 80%;
}
.it_consulting_header_box {
    width: 85%;
}
.banner_left_box h2 {
    font: 34px/45px 'CircularStd-Black',sans-serif;
}
.banner_left_box,.banner_right_box{
    min-height: 400PX;
}
.propel_business_header_box {
    width: 65%;
}
.industries_solution_list_box {
     padding: 6px 2px 2px 20px; 
}
.industries_solution_resposive_box4,.industries_solution_resposive_box8,.industries_solution_resposive_box16,.industries_solution_resposive_box20{
    border-right: 1px solid transparent;
}
.industries_solution_resposive_box6,.industries_solution_resposive_box18{
    border-right: 1px solid #bbb;
}
.industries_solution_resposive_box17,.industries_solution_resposive_box18{
    border-bottom: 1px solid transparent;
}
.craftedapp_list_header_box h2 {
    font: 26px/40px 'AvenirNext-Bold',sans-serif;
}
}
@media only screen and (min-width:992px){
.container_body {
    width: 95%;
}
.industries_solution_list_box{
    /*padding: 6px 2px 2px 5px;*/
}
#rinvt_acc_dtj_tab li a {
    padding: 10px 8px;
}
.footer_mail_box{
    padding-left: 5px;
}
}
@media only screen and (max-width:991px){
.togglebtn {
    display: block;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 9999;
    background-color: transparent;
    border-radius: 50%;  
}
.login{
   display: block;
}
.banner_left_box p {
    font: 18px/30px 'AvenirNext-Medium',sans-serif;
    padding-bottom: 35px;
}
.banner_left_box {
    width: 95%;
    min-height: 450px;
}
.banner_right_box {
    min-height: 450PX;
}
.smarter_service_list_box{
    margin-bottom: 20px;
}
.industries_solution_resposive_box3,.industries_solution_resposive_box9,.industries_solution_resposive_box15{
    border-right: 1px solid transparent;
}
#rinvt_acc_dtj_tab{
    display: inline-flex;
    width: 100%;
    position: relative;
    overflow-x: scroll;
}
#rinvt_acc_dtj_tab li{
    margin-bottom: 20px;
}
.degitize_box{
    padding-left: 20px;
}
.cus_insight_header_box{
    width: 100%;
}
.about_speed_learning_app_box{
    display: inline-block;
}
.about_speed_learning_app_desc_box {
    width: 100%;
}
.speedlearning_logo{
    margin-bottom: 20px;
}
.market_sales_header_box,.it_consulting_header_box{
    margin-bottom: 20px;
}
.cus_insight_leftbox,.market_sales_leftbox,.it_consulting_leftbox{
    min-height: auto;
}
#rinvt_acc_dtj_tab li p {
    font: 16px/25px 'AvenirNext-SemiBold',sans-serif;
    padding-top: 10px;
}
.craftedapp_list_header_box{
    padding: 30px 0px 0px;
}
.craftedapp_list_box{
    height: auto;
}
.craftedapp_list_box{
    margin-bottom: 40px;
}
.trns_business_consulting_box {
    padding: 50px 20px;
}
.trns_business_consulting_section {
    padding: 30px 0px;
}
.trns_business_consulting_box h2 {
    font: 34px/45px 'CircularStd-Black',sans-serif;
}
}

@media only screen and (max-width:768px){
    .banner_left_box h2 {
        font: 30px/40px 'CircularStd-Black',sans-serif;
        padding-bottom: 5px;
    }
    .banner_left_box p{
        padding-bottom: 20px;
    }
    .banner_left_box,.banner_right_box {
        min-height: 400px;
        width: 100%;
        padding-left: 0px;
        margin: 0px auto;
    }
    .cus_insight_rightbox{
        margin-bottom: 20px;
    }
    .smarter_section_header_box h2 {
        width: 100%;
    }
    .propel_business_header_box {
        width: 90%;
    }
    .industries_solution_resposive_box4,.industries_solution_resposive_box8,
    .industries_solution_resposive_box16,.industries_solution_resposive_box20{
        border-right: 1px solid #bbb;
    }
    .industries_solution_resposive_box6,.industries_solution_resposive_box18{
        border-right: 1px solid transparent;
    }
    .industries_solution_resposive_box17,.industries_solution_resposive_box18{
        border-bottom: 1px solid #bbb;
    }
    .degitize_box {
        padding-left: 0px;
        width: 93%;
        margin: 0px auto;
    }
    .market_sales_header_box,.it_consulting_header_box {
        width: 100%;
    }
    .trns_business_consulting_box h2{
        line-height: 45px;
    }
    .trns_business_consulting_box {
        padding: 50px 10px;
    }
}
@media only screen and (max-width:736px){
    .tab_result_inner_box{
        width: 95%;
        margin: 0px auto;
        padding: 0px 0px 30px;
    }
    .degitize_side_border:after{
        border-right: 0px solid transparent;
    }
    .degitize_box {
        width: 95%;
        margin: 0px auto;
        padding-bottom: 30px;
    }
    .cus_insight_leftbox, .market_sales_leftbox, .it_consulting_leftbox{
        width: 95%;
        margin:0px auto;
    }
    .about_speed_learning_app_box{
        display: block;
        width: 95%;
        margin:0px auto;
    }
    .banner_left_box{
        width: 90%;
        margin: 30px auto;
        min-height: auto;
    }
    .banner_right_box{
        min-height: 400px;
    }
    #myGallery img{
        width: 60%;
        right: 20%;
    }
}
@media only screen and (max-width:684px){
    #rinvt_acc_dtj_tab {
        /*display: -webkit-inline-box;*/
        margin-top: 10px;
    }
    .right_arrow_box{
        display:block;
    }
    .propel_business_header_box {
        width: 100%;
    }
    .tab_result_inner_rightbox{
        padding-bottom:0px !important;
    }
    .tab_result_inner_box p {
        font: 22px/30px 'AvenirNext-Medium',sans-serif;
    }
    .tab_result_inner_box {
        width: 100%;
        margin: 0px auto;
        padding: 0px 0px 30px 10px;
    }
    #rinvt_acc_dtj_tab li a {
        padding: 0px 10px;
    }
    .degitize_section_header_box h2{
        padding-bottom: 50px;
    }
    .banner_right_box {
        min-height: 450px;
        margin-bottom:20px;
    }
    #myGallery img {
        width: 80%;
        right: 10%;
    }
}
@media only screen and (max-width: 667px) {
.propel_track_list_mainbox{
    display: inline-block;
}
.propel_track_list_mainbox:after {
    content: '';
    width: 50%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    position: absolute;
    top: 40px;
    left: 50%;
    border-left: 2px dashed #686868;
    border-bottom: 0px dashed transparent;
    /*-webkit-transform: skewX(0deg);*/
    /*-moz-transform: skewX(0deg);*/
    /*-ms-transform: skewX(0deg);*/
    /*-o-transform: skewX(0deg);*/
    /*transform: skewX(0deg);*/
}
.right_arrow:after {
    content: '';
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 110px;
    left: 49.6%;
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    border-style: solid;
    border-color: #000;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-bottom: 5px;
}
.propel_track_list_box p{
    background-color: #ffff;
    z-index: 12;
    padding: 0px;
    position: relative;
    top: 5px;
}
.propel_track_list_box{
    padding: 0px 0px;
    padding-bottom: 40px;
}
}
@media only screen and (max-width: 550px) {
    .mobile_responsive_view{
        width: 50%;
    }
    .industries_solution_resposive_box2,.industries_solution_resposive_box4,.industries_solution_resposive_box8,
    .industries_solution_resposive_box10,.industries_solution_resposive_box14,.industries_solution_resposive_box16,.industries_solution_resposive_box20{
        border-right: 1px solid transparent;
    }
    .industries_solution_resposive_box3, .industries_solution_resposive_box9, .industries_solution_resposive_box15 {
        border-right: 1px solid #bbb;
    }
    .industries_solution_list_box{
        display: flex;
        text-align: center;
        padding: 20px 0px;
        height: 145px;
        vertical-align: middle;
        align-items: center;
        justify-content: flex-start;
    }
    #rinvt_acc_dtj_tab li a {
        padding: 10px 5px;
        width: 180px;
    }
    .rinvt_acc_dtj_tab_box{
        position: relative;
        overflow: hidden;
        width: 520px;
    }
    .degitize_section_header_box h2{
        padding-bottom: 50px;
    }
    .it_consulting_header_box h2 {
        font: 32px/38px 'CircularStd-Black',sans-serif;
    }
    .cus_insight_left_desc_list li,.market_sales_left_desc_list li,.it_consulting_left_desc_list li{
        padding-bottom: 20px;
    }
    .propel_track_list_box{
        padding-bottom: 50px;
    }
    .propel_track_list_mainbox{
        padding-bottom:0px;
    }
    .right_arrow:after{
        top: 115px;
    }
    .banner_left_box, .banner_right_box {
        width: 95%;
    }
    #myGallery img {
        width: 90%;
        right: 5%;
    }
    .trns_business_consulting_box {
        padding: 50px 20px;
    }
    .desck_view {
        display: none;
    }
    .mobile_view {
        display: block;
        margin: 30px auto 40px;
    }
    .mobile_view {
        width: 100%;
    }
    .banner_left_box p {
        padding-bottom: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .rinvt_acc_dtj_tab_box{
        width: 470px;
    }
    .trns_business_consulting_box{
        padding: 30px 0px;
    }
    .trns_business_consulting_box h2 {
        line-height: 40px;
    }
    .banner_right_img {
        width: 100%;
    }
    .craftedapp_list_header_box {
        padding: 20px 0px 0px;
    }
    .trns_business_consulting_box {
        padding: 30px 15px;
    }
    .banner_right_box {
        min-height: 370px;
    }
}
@media only screen and (max-width: 420px) {
    .rinvt_acc_dtj_tab_box {
        width: 400px;
    }
    .degitize_box {
        padding-left: 0px;
    }
    .propel_track_list_mainbox{
        padding: 30px 0px 0px;
    }
    .smarter_section_header_box h2,.propel_business_header_box h2,
    .industries_solution_header_box h2,.rinvt_acc_dtj_header_box h2,
    .degitize_section_header_box h2,.cus_insight_header_box h2,
    .market_sales_header_box h2,.it_consulting_header_box h2,
    .trns_business_consulting_box h2{
        font: 30px/38px 'CircularStd-Black',sans-serif;
    }
    .banner_right_box {
        min-height: 350px;
    }
    .consulted_btn {
        width: 100%;
        font: 20px/44px 'AvenirNext-SemiBold';
        padding: 4px 25px;
        letter-spacing: -0.571429px;
    }
    .trns_business_consulting_box {
        margin: 0px 0px 0px;
    }
}
@media only screen and (max-width: 414px) {
    
}
@media only screen and (max-width: 375px) {
    .rinvt_acc_dtj_tab_box {
        width: 350px;
    }
    .smarter_service_list_box p{
        font: 16px/28px 'AvenirNext-Medium',sans-serif;
    }
    .industries_solution_list_box{
        padding: 20px 3px;
    }
    .about_speed_learning_app_desc_box h2 {
        font: 28px/40px 'AvenirNext-Medium',sans-serif;
    }
    #myGallery img {
        width: 96%;
        right: 2%;
    }
    .banner_right_box {
        margin-bottom: 0px;
    }
    .banner_right_box {
        min-height: 280px;
    }
}


